.grid_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    gap: 2rem;
}

.flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#prevBtn {
    cursor: pointer;
    background: none;
    border: none;
    width: auto;
    height: fit-content;
}

#nextBtn {
    cursor: pointer;
    background: none;
    border: none;
    height: fit-content;
}

#prevBtn>img:hover, #nextBtn>img:hover {
    filter: invert(86%) sepia(0%) saturate(6900%) hue-rotate(71deg) brightness(110%) contrast(117%);
}