.background_box {
    z-index: 10;
    background-color: rgba(0, 0, 0, 70%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;

}

.modal_box {
    z-index: 20;
    position: absolute;
    background-color: rgb(230, 205, 238);
    border: 10px solid rgb(168, 153, 173);
    max-width: 666px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    color: rgb(41, 41, 41);
    border-radius: 8px;
}


.modal_box img {
    width: 50%;
}

.modal_box ul {
    display: flex;
}

.modal_box li {
    padding: 8px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgba(236, 236, 236, 0.801);
    font-weight: bold;
}

.modal_box button {
    background: none;
    border: none;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 60px;
}

.modal_box button:hover {
    filter: invert(86%) sepia(0%) saturate(6900%) hue-rotate(71deg) brightness(110%) contrast(117%);
}