.movie_container {
    background-color: rgba(77, 93, 187, 0.822);
    display: flex;
    max-height: 293px;
    box-shadow: 10px 10px 5px rgb(97, 96, 96);
}

.movie_container:hover {
    cursor: pointer;
    transition: background 1s;
    background-color: rgb(148, 207, 187);
}

.movie_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

.movie_info img {
    width: 20%;
}

.movie_info h2 {
    margin: 0;
    color: white;
}
