body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color : white;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: auto;
    width: 100%;
    max-width: 1440px;
}

.web_title {
    text-align: center;
}